.modal-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 500px;
    max-width: calc(100% - 1rem);
    background-color: var(--bg-lighter1);

    & > .head {
        background-color: white;
        color: black;
        padding: .5rem;
    }

    & > .body {
        padding: .5rem;
    }

    & > .foot {
        padding: .5rem;
        background-color: black;
    }
}

.sublayout {
    border-left: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.025);

    & > .head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background-color: black;
        color: white;
        padding: .5rem;
        margin-bottom: .5rem;

        & .red {
            font-size: .7rem;
            opacity: .3;

            &:hover {
                opacity: 1;
            }
        }

        & h2, h3, h4, h5, h6 {
            display: flex;
            align-items: center;
            gap: 1rem;

            & img {
                width: 30px;
            }
        }
    }

    & > .body {
        padding: .5rem;
    }

    /* FADE */
    &.fade {
        & > .head {
            opacity: 0.5;

            &:hover {
                opacity: 1;
                & + .body {
                    opacity: 0.5;
                }
            }
        }
    }
}

.responsive {
    width: 1100px;
    max-width: calc(100% - 1rem);
    margin-left: auto;
    margin-right: auto;
}

.error {
    color: #fd4141;
    border-bottom: 1px dashed #fd4141;
}

.panels {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1rem;
    gap: 1rem;

    > *:not(.panel) {
        grid-column: span 3;
    }
}

@media (min-width: 700px) {
    .panels {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .panels {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.panel {
    & > .head {
        background-color: rgba(255, 255, 255, .2);
        padding: .5rem;
    }

    & > .body {
        border: 1px solid rgba(255, 255, 255, .2);
        padding: .5rem;

        & > form {
            border: 0;
        }
    }
}